introduction/introduction.aux
introduction/introduction.bbl
introduction/introduction.blg
*.pdf
*.aux
*.log
*.out
*.bbl
*.blg
*.synctex.gz
*.tdo
*.thm
*.toc
papers/paperA/*.aux
papers/paperA/*.bbl
papers/paperA/*.blg
papers/paperB/*.bbl
papers/paperB/*.aux
papers/paperB/*.blg
papers/paperC/*.bbl
papers/paperC/*.aux
papers/paperC/*.blg
papers/paperD/*.bbl
papers/paperD/*.aux
papers/paperD/*.blg
